.w-48{width: 48%;}
.fz-95{font-size: 95%;}
.icon{
    cursor: pointer;
}
.card-icons{
    display: flex;
    justify-content: space-between;
}
.cart-btn{
    background-color: #826300;
    padding: 1% 2%;
    text-align: center;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.cart-btn:hover{
    background-color: #544000;
}
.wishlist-btn{
    background-color: #D6A300;
    padding: 1% 2%;
    text-align: center;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.wishlist-btn:hover{
    background-color: #a07b00;
}