.card-container{
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    transition: 0.3s;
}
.card-container:hover {
    transform: translateY(-5%);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.icon{
    cursor: pointer;
}
.card-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cart-btn{
    background-color: #826300;
    padding: 1% 1%;
    text-align: center;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.cart-btn:hover{
    background-color: #544000;
}
.wishlist-btn{
    background-color: #D6A300;
    padding: 1% 1%;
    text-align: center;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.wishlist-btn:hover{
    background-color: #a07b00;
}
.badge{
    position: absolute;
    top: 0%;
    right: 0%;
}